body #root {
	min-height: 100vh;
}

.corsoBanner {
	font-family: "Staatliches";
	text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}

.corsoTitle {
	font-family: "Fredoka One";
	text-transform: uppercase;
	text-shadow: -1px 0px 8px black, 0 1px black, 1px 0 black, 0 -1px black;
}

@media (min-width: 600px) {
	.homeTitle {
		padding-left: 50vw;
	}
}

.titleShadowWhite {
	text-shadow: -1px 0px 8px white, 0 1px white, 1px 0 white, 0 -1px white;
}